.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  padding: 80px;
  background: url("/Group 6.png") no-repeat;
}
.content {
  padding: 30px 20px;
  background: #deecff;
  position: relative;
  margin-bottom: 120px;
}
.title {
  position: relative;
  z-index: 100;
  background: linear-gradient(
    90deg,
    rgba(21, 70, 134, 1) 0%,
    rgba(36, 113, 212, 1) 60%,
    rgba(21, 70, 134, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 700;
}
.subtitle {
  color: #154686;
  font-size: 48px;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 50px;
}
.content p {
  margin: 15px 0;
  font-size: 24px;
  color: var(--main-text-color);
}
.content img {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -50px;
}
.logoCont {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1480px) {
  .container {
    padding: 40px 20px 20px 20px;
  }
  .title {
    font-size: 20px;
    text-align: center;
  }
  .logoCont {
    flex-direction: column-reverse;
  }
  .subtitle {
    font-size: 18px;
    margin: 30px 0;
  }
  .content {
    margin-bottom: 40px;
  }
  .content p {
    font-size: 12px;
  }
}
